{% extends "base.html" %}

{% block app_content %}
    <div style="margin-top: 50px">
        <h1 style="text-align: center">{{bg.name}}</h1>
        <h4>Players:</h4>
        <p class="fs-5">{{bg.min_players}}-{{bg.max_players}} people</p>
        <h4>Short boardgame's description:</h4>
        <p class="fs-5">{{bg.description}}</p>
        <h4>Full boardgame's description and its rules</h4>
        {% for line in fd %}
            <p class="fs-5 lh-1">{{line}}</p>
        {% endfor %}
        <h4>Rank:</h4>
        <p class="fs-5">{{bg.get_rank()}}</p>
        {% if bg not in current_user.favourite_boardgames %}
            <a class="btn btn-outline-success text-center" href="/add_to_favourite/{{bg.id}}">Add to favourite</a>
        {% else %}
            <a class="btn btn-outline-danger text-center" href="/remove_from_favourite/{{bg.id}}">Remove from favourite</a>
        {% endif %}
        <p></p>
        {% if bg.author == current_user %}
            <a class="btn btn-outline-primary text-center" href="/edit_boardgame/{{bg.id}}">Edit boardgame's profile information</a>
        {% endif %}
        <p></p>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="ranking" class="col-form-label">Password</label>
            </div>
            <div class="col-auto">
                <form action="/rank_boardgame/" method="post">
                    <input type="hidden" name="bg_id" value="{{bg.id}}">
                    <input type="number" max="5" min="1" id="ranking" class="form-control" aria-describedby="ranking_form" name="rank">
                </form>
            </div>
            <div class="col-auto">
                <span id="ranking_form" class="form-text">
                    Only 1-5 values are accepted!
                </span>
            </div>
        </div>
    </div>
{% endblock %}