{% extends "base.html" %}

{% block app_content %}
    <header>
        <h1 style="text-align: center">About Us</h1>
    </header>

    <div class="container">
        <section class="about-section">
            <h2>Who We Are</h2>
            <p>We are passionate board game enthusiasts dedicated to providing a wide range of board games for people of all ages and interests. Our team consists of avid gamers who love sharing their passion for board games with others.</p>
        </section>

        <section class="mission-section">
            <h2>Our Mission</h2>
            <p>Our mission is to create a welcoming and inclusive space where people can discover, explore, and enjoy the world of board games. We believe in the power of board games to foster creativity, critical thinking, and social connections.</p>
        </section>

        <section class="collection-section">
            <h2>Our Collection</h2>
            <p>Our board game library features a diverse collection of games, ranging from classic favorites to the latest releases. Whether you're into strategy, party games, cooperative play, or family-friendly fun, we have something for everyone. Our collection is carefully curated to ensure a rewarding gaming experience for players of all levels.</p>
            <p>Our users are allowed to add their variations of already existing board games or add new ones to the website. We appreciate your contributions.</p>
        </section>

        <section class="contact-section">
            <h2>Contact Us</h2>
            <p>If you have any questions, suggestions, or feedback, feel free to contact us. You can reach us by email at <a href="mailto:contact@boardgamelibrary.com">contact@boardgamelibrary.com</a>. We'd love to hear from you!</p>
        </section>
    </div>
{% endblock %}