{% macro represent_bg(bg) %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><strong>{{bg.name}}</strong></h5>
            <p class="card-text"><strong>Players:</strong> {{bg.min_players}}-{{bg.max_players}} people</p>
            <p class="card-text"><strong>Description:</strong> {{bg.description}}</p>
            <p class="card-text"><strong>Rank:</strong> {{bg.get_rank()}}</p>
            <a href="{{ url_for('boardgame_profile', boardgame_id=bg.id) }}" class="btn btn-primary stretched-link">View board game's profile</a>
        </div>
    </div>
{% endmacro %}

{% macro show_bgs(boardgames) %}
    {% for bgs in boardgames %}
        <div class="row" style="margin-top: 30px; display: flex; justify-content: flex-start; align-items: center">
            {% for bg in bgs %}
                <div class="col-md-3 h-50">
                    {{ represent_bg(bg) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}
