{% macro represent_bg(bg) %}
    <div class="card-body">
        <h5 class="card-title"><strong>{{bg.name}}</strong></h5>
        <p class="card-text"><strong>Players:</strong> {{bg.min_players}}-{{bg.max_players}} people</p>
        <p class="card-text"><strong>Description:</strong> {{bg.description}}</p>
        <p class="card-text"><strong>Rank:</strong> {{bg.rank/bg.votes|round(1)}}</p>
        <a href="#" class="btn btn-primary stretched-link">View boardgame's profile</a>
    </div>
{% endmacro %}